* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.adversment {
    background-color: hsla(152, 42%, 19%, 1);
    width: 50vw;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

a {
    color: hsla(152, 42%, 19%, 1);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45vw;
    height: 95vh;
}

.head {
    display: flex;
    align-items: flex-start;
    width: 38vw;
    gap: 10px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: hsla(152, 42%, 19%, 1);
}

#sign-in {
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
    padding-left: 110px;
}

#logo {
    width: 10vw;
    height: auto;
}

#sign-up {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.login form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30vw;
    height: 50vh;
}

.mail,
.password {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.mail input,
.password input {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

.mail input:focus,
.password input:focus {
    border: 3px solid hsla(152, 92%, 19%, 1);
    transition: all 0.1s ease-in-out;
}


.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 20vh;
}

.login form button {
    align-self: center;
    width: 28vw;
    padding: 15px;
    background-color: hsla(152, 42%, 19%, 1);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30vw;
}

.line {
    width: 15vw;
    height: 1px;
    background-color: gray;
}

.social button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 28vw;
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.social button:hover {
    background-color: hsla(152, 42%, 19%, 1);
    color: white;
    border: none;
}

.social button:hover {
    background-color: hsla(152, 42%, 19%, 1);
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.adversment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.support {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.support h3 {
    font-size: 24px;
    font-weight: bold;
}

#confirm-password-section {
    display: none;
}

.visual-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 80vh;
    width: 40vw;
    padding: 20px;
}

.visual {
    display: flex;
    background-color: white;
    width: 36vw;
    height: 35vh;
    border-radius: 30px;
    position: relative;
}

.visual-text {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vw;
    height: 35vh;
}

.visual-text h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -2%;
    vertical-align: middle;
    color: hsla(152, 92%, 19%, 1)
}

.visual-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -2%;
    color: hsla(216, 15%, 52%, 1);
}

.visual-text button {
    width: 10vw;
    padding: 10px;
    background-color: hsla(152, 42%, 19%, 1);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.visual-text button:hover {
    background-color: hsla(152, 42%, 19%, 0.8);
    transition: all 0.3s ease-in-out;
}

.visual-img {
    padding: 0;
    width: 11vw;
    height: 35vh;
    overflow: hidden;
}

.earnings {
    position: absolute;
    width: 20vw;
    height: 15vh;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    top: 75%;
    right: 0;
}

.earnings section:nth-child(1) {
    justify-self: flex-start;
}

#earn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 20px;
}

#earn p:nth-child(1) {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -2%;
    color: hsla(152, 42%, 19%, 1)
}

#earn p:nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    color: hsla(152, 42%, 19%, 1)
}

.content {
    display: flex;
    flex-direction: column;
    width: 32vw;
    color: white;
    gap: 10px;
}

.content p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 138%;
    letter-spacing: 0%;
    text-align: center;

}

.content h2 {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

}

.nav {
    width: 40vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav .circle {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.left,
.right {
    color: white;
    font-size: 30px;
    cursor: pointer;
}